<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <containers>
    <container name="defaultContainer">
      <!--DbContext/UnitOfWork-->
      <register type="Engine.Infrastructure.Data.IEFDbContext,Engine.Infrastructure.Data"
                mapTo="Engine.Infrastructure.Repository.EFDbContext,Engine.Infrastructure.Repository">
        <lifetime type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager,Microsoft.Practices.Unity" />
      </register>

      <register type="Engine.Infrastructure.Data.IUnitOfWork,Engine.Infrastructure.Data"
                mapTo="Engine.Infrastructure.Data.UnitOfWork,Engine.Infrastructure.Data">
        <lifetime type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager,Microsoft.Practices.Unity" />
      </register>
      
      <!--Repository（泛型类注入使用：IList`1）-->

      <register type="Engine.Domain.IRepository.IRepository`1,Engine.Domain.IRepository"
                mapTo="Engine.Infrastructure.Repository.EFRepository`1,Engine.Infrastructure.Repository" />

      <!--Server-->
      <register type="Engine.Application.IUserServer,Engine.Application"
                     mapTo="Engine.Application.UserServer,Engine.Application" />


    </container>
  </containers>
</unity>
