@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<body>
    <div class="page-container">
        <p style="text-align:center">欢迎使用瑞杰系统管理平台！</p>

    </div>
    <footer class="footer mt-20">
        <div class="container">

        </div>
    </footer>
</body>
</html>